* {
    margin: 0;
    padding: 0;
}

.heading {
    margin-bottom: 30px;
    text-align: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    gap: 10px;
}

.btn {
    border: 2px solid black;
    height: 20vh;
    width: 12vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#violet {
    background-color: violet;
}